output/**
*.class
*.iml
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
.gwt/
.svn/
.settings/
/bin
bin/
examples/*
build/
*~
*.swp
*.rbc
*.ipa
/logs
